In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

# A ilus√£o da m√©dia

Dentro do vocabul√°rio estat√≠stico, a m√©dia deve ser o termo mais "pop". N√£o tenho certeza, mas na minha √©poca de escola devo ter sido apresentado a ela antes de aprender a fazer seu c√°lculo ou entender plenamente o seu conceito (o que admito, veio bem depois).
O fato era que para passar de ano, voce tinha que alcan√ßar uma m√©dia 6 e quando √≠amos perguntar a professora, eramos informado que deveriamos nos preocupar em conseguir uma nota igual ou maior a em todos os bimestres. Ou seja, tinhamos ganhado de brinde uma aula sobre l√≥gica:
<pre>
<br>Se nota >= 6: 
<br>    Eu: 'üòÑ'
<br>Sen√£o:
<br>    Eu: "m√£e, assina meu boletim?"
<br>    M√£e: "Por que?"
<br>    Eu: 'üò¢'
</pre>

Mas a√≠ os anos v√£o passando e voc√™ descobre que a m√©dia se calcula somando todos os valores e depois dividindo pela quantidade deles, e a√≠ percebe que d√° para bolar algumas estrat√©gias para passar de ano que n√£o envolvem necessariamente tirar 6 ou mais todo bimestre. Por exemplo:
* J√° que s√£o 4 bimestres, 4 √© o numero pelo qual eu divido a soma das minhas notas.
* Em geral, os dois primeiros bimestres s√£o os mais f√°ceis, ent√£o em teoria, d√° para tirar pelo menos 8.
* Somando 16, me faltam 8 pontos para dividir nos dois ultimos bimestres, que s√£o mais dificeis, pois eu preciso somar 24 para ter uma m√©dia 6.

In [7]:
notas = {'aluno 1':[8,8,4,4],
         'aluno 2':[4.5,5.5,6.5,7.5],
         'aluno 3':[8,7,5,4]}
periodo = ['b1','b2','b3','b4']
df_notas = pd.DataFrame(notas, index=periodo)
df_notas

    aluno 1  aluno 2  aluno 3
b1        8      4.5        8
b2        8      5.5        7
b3        4      6.5        5
b4        4      7.5        4

In [8]:
df_notas.describe()

        aluno 1   aluno 2   aluno 3
count  4.000000  4.000000  4.000000
mean   6.000000  6.000000  6.000000
std    2.309401  1.290994  1.825742
min    4.000000  4.500000  4.000000
25%    4.000000  5.250000  4.750000
50%    6.000000  6.000000  6.000000
75%    8.000000  6.750000  7.250000
max    8.000000  7.500000  8.000000